*
{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

footer
{
	height:5vh;
	margin-top:3vh;
	padding-top:1vh;
}

main
{
	height:fit-content;
	margin:0 auto;
	width:80%;
}

nav ul li i
{
	margin-left:10vw;
}

nav ul
{
	border-bottom:1px solid #ededed;
	height:7vh;
	margin:0 auto;
	padding:1vh 5vw;
	width:90%;
}

p
{
	padding:1vh 0;
}

.about
{
	height:30vh;
	padding:1vh 0;
	width:20vw;
}

.action
{
	margin:2vh 0 10vh;
}

.author .wraper img
{
	border-radius:200px;
	height:10vh;
	margin:0 8vw 0 0;
	max-width:100%;
}

.author
{
	border-bottom:1px solid #e7e6e6;
	border-top:1px solid #e7e6e6;
	height:fit-content;
	margin:5vh auto;
	padding:1em;
	width:45vw;
}

.author__name
{
	margin-left:1vw;
}

.big-title
{
	font-size:1.8rem;
}

.container
{
	margin-top:2vh;
	width:100%;
}

.content
{
	margin:0 0 5vh 1vh;
	width:100%;
}

.cover__image
{
	border-radius:5px;
	height:auto;
	margin-top:2vh;
	max-width:100%;
}

.details
{
	margin-top:3vh;
}

.hero
{
	height:50vh;
	margin-top:.1vh;
}

.latest h1
{
	margin:1vh 0;
}

.latest
{
	padding:3vh .5vw;
}

.newsletter-min form button
{
	border:none;
	border-radius:2px;
	height:4.5vh;
	width:10vw;
}

.newsletter-min form input
{
	height:4.5vh;
	margin:0 2vw 0 17vw;
	padding-left:.5vw;
	width:30vw;
}

.newsletter-min
{
	border-bottom:1px solid #b3b3b3;
	margin:0 auto;
	padding:0 10.5vw;
	width:100%;
}

.post
{
	padding:10vh;
	width:70%;
}

.post-card
{
	border-radius:10px;
	margin:1vh 3vw 5vh;
	padding-top:1vh;
	width:100%;
}

.post-img
{
	border-radius:5px;
	height:auto;
	max-width:95%;
}

.post-preview
{
	margin:0 1vw 1vh;
}

.share__post h1
{
	margin:1vh .4vw;
}

.share__post ul li
{
	border-bottom:1px solid #fdfdfd;
	padding:1vh;
}

.share__post ul li:nth-child(1)
{
	border-top-right-radius:30px;
	height:5vh;
}

.share__post ul li:nth-child(2)
{
	height:5vh;
}

.share__post ul li:nth-child(3)
{
	border-bottom-right-radius:30px;
	height:5vh;
}

.share__post
{
	border-radius:0 20px 20px 0;
	height:fit-content;
	padding:1vh 0 0 1px;
	width:5vw;
}

.supporting-tagline
{
	font-size:xx-large;
}

.tagline
{
	font-size:5rem;
}

.view-more
{
	border:1px solid #b3b3b3;
	border-radius:50px;
	height:41px;
	margin-top:1vh;
	width:141px;
}

#read__more buttom a:focus
{
	outline:none;
}

#read__more button
{
	border:1px solid #b3b3b3;
	border-radius:5px;
	height:35px;
	margin:1vh 0;
	outline:none;
	width:110px;
}

.content ol,.content ul
{
	padding-left:1vw;
}

.h1 .h2 .h3,.summery,.title
{
	margin-top:1vh;
}

.newsletter-min form,.post .content p
{
	width:100%;
}