
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.7;
  background: #fdfdfd;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
}
p{
    padding: 1vh 0;
}
a {
  text-decoration: none;
  color: #29323d;
}
a:hover {
  text-decoration: none;
}

header{
    background: #ffffff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 1vh 5vw;
  height: 7vh;
}

nav ul li {
  cursor: pointer;
}

.brand {
  font-size: 2em;
  font-family: "Bungee Shade", cursive;
  text-decoration: solid;
  color: #29323d;
}

nav ul li i {
  margin-left: 10vw;
  font-weight: 700;
}

main {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

footer{
    height: 5vh;
    margin-top: 3vh;
    background: #29323d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 1vh;
}
.hero {
  height: 50vh;
  margin-top: .1vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 5rem;
}
.supporting-tagline {
  font-size: xx-large;
}
.newsletter-min {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0% auto;
  border-bottom: 1px solid #b3b3b3;
  padding: 0 10.5vw;
  background: #ffffff;
}

.newsletter-min form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.newsletter-min h1 {
  font-size: 1.8em;
}
.newsletter-min form input {
  height: 4.5vh;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  margin: 0 2vw 0 17vw;
  padding-left: 0.5vw;
  font-size: 1.5em;
  font-weight: 500;
}

.newsletter-min form button {
  height: 4.5vh;
  width: 10vw;
  font-size: 2em;
  cursor: pointer;
  font-weight: 800;
  background-color: #29323d;
  color: white;
  border: none;
  border-radius: 2px;
}

.latest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3vh 0.5vw;
  flex-wrap: wrap;
 
}
.latest h1 {
  font-size: 2em;
  margin: 1vh 0;
}
.post-card {
  width: 100%;
  margin: 1vh 3vw 5vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding-top: 1vh;
}
.post-img {
  max-width: 95%;
  height: auto;
  border-radius: 5px;
}
.post-preview {
  display: flex;
  flex-direction: column;
  margin: 0 1vw 1vh 1vw;
}
.title {
  margin-top: 1vh;
  font-size: 1.3em;
}
.summery {
  font-size: 0.9em;
  margin-top: 1vh;
  line-height: 2em;
}
.details {
  font-size: 1em;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}

#read__more button{
  height: 35px;
  width: 110px;
  background-color:#292929;
  color: #ffffff;
  border-radius: 5px;
  align-self: center;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  margin:1vh 0;
  outline: none;
}
#read__more button a{
    color: #ffffff;
    text-decoration: none;
}
#read__more button a:visited{
    color:#ffffff;
}
#read__more buttom a:focus{
    outline: none;
}
#read__more buttom a:link{
    text-decoration: none;
}

.details span {
   text-align: center;
   display: flex;
   align-items: center;    
  }
.action{
    display: flex;
    justify-content: center;
    margin: 2vh 0 10vh 0;
}
.view-more {
  height: 41px;
  width: 141px;
  background-color:#29323d;
  color: #ffffff;
  border-radius: 50px;
  align-self: center;
  margin-top: 1vh;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}
.author{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45vw;
    margin: 5vh auto;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    padding: 1em;
}   
.author .wraper img{
    border-radius: 200px;
    max-width: 100%;
    height: 10vh;
    margin: 0 8vw 0 0;
}
.author__name{
font-size: .9em;
margin-left:1vw; 
color: #0e76a8;
font-weight: 500;
}
.author__socials{
    font-size: 20px;
    display: inline;
   
}
.author__profession{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-right: .5em;
}
.content {
  width: 100%;
  margin: 0vh 0 5vh 1vh;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 10vh;
  font-size: 16px;
  font-weight: 300;
}

.post .content p {
  width: 100%;
}
.cover__image {
  margin-top: 2vh;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.big-title{
    font-size: 1.8rem;
}

.content ol{
    padding-left:1vw; 
}
.content ul{
    padding-left:1vw; 
}
.share__post {
    width: 5vw;
    height: fit-content;
    position: fixed;
    top: 17vh;
    left: 0vw;
    border-radius: 0 20px 20px 0;
    padding: 1vh 0 0 1;
  }
  .share__post h1{
      margin: 1vh 0.4vw;
  }
  .share__post ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
  }
  .share__post ul li {
      border-bottom:1px solid #fdfdfd; 
      padding: 1vh;
  }
  .share__post ul li:nth-child(1){
    background: #00ACEE;
    height: 5vh;
    border-top-right-radius: 30px;
}
  .share__post ul li:nth-child(2){
      background: #4267B2;
      height: 5vh;
  }
  .share__post ul li:nth-child(3){
    background: #0e76a8;
    
    height: 5vh;
    border-bottom-right-radius: 30px;
}
  .share__post ul li a i{
    font-size: 20px;
    color:#ffffff; 
  }
.about{
    position: absolute;
    top: 17vh;
    right: 3vw;
    width:20vw;
    height:30vh;
    background: #ffffff;
    text-align: center;
    padding: 1vh 0;
}

p .bold{
    font-weight: 600;
}

.h1{
    margin-top: 1vh;
font-size: 2em;
}

.h2{
margin-top: 1vh;
font-size: 1.5em;
}

.h3{
    margin-top: 1vh;
font-size: 1.17em;
}

figcaption{
    font-size: .9em;
    color: #777676;
}
@media only screen and (min-width: 320px) {
    .tagline {
      font-size: 1.5em;
    }
    .supporting-tagline {
      font-size: 1em;
    }
    .hero {
      height: 30vh;
    }
    nav ul li:nth-child(2) {
      display: none;
    }
    nav ul li:nth-child(3) {
      display: none;
    }
    nav ul li:nth-child(4) {
      display: none;
    }
    nav ul li:nth-child(5) {
      display: none;
    }
    nav ul {
      justify-content: center;
    }
    .latest {
      flex-direction: column;
      align-items: center;
    }
    .post-card {
      width: 80%;
      align-items: center;
    }
    .title {
      font-size: 1.2em;
    }
    .summery {
      font-size: 0.9em;
    }
    .newsletter-min {
      padding: 1vh 1vw;
      width: 100%;
    }
    .newsletter-min form input {
      margin: 1vh 0 0 0;
      padding-left: 3vw;
      font-size: 1em;
      font-weight: 500;
      width: 80%;
    }
    .newsletter-min form button {
      width: 80%;
      margin: 2vh 0 1vh 0;
      border-radius: 15px;
      font-size: 1em;
    }
    .newsletter-min h1 {
      font-size: 1.2em;
    }
    .newsletter-min {
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .tagline {
      font-size: 1.5em;
    }
    .supporting-tagline {
      font-size: 1em;
    }
    .hero {
      height: 30vh;
    }
    nav ul li:nth-child(2) {
      display: block;
    }
    nav ul li:nth-child(3) {
      display: block;
    }
    nav ul li:nth-child(4) {
      display: block;
    }
    nav ul li:nth-child(5) {
      display: block;
    }
    nav ul {
      justify-content: space-between;
    }
    .latest {
      flex-direction: row;
    }
    .latest article:first-child {
      display: none;
    }
    .post-card {
      width: 40%;
      align-items: center;
    }
    .title {
      font-size: 1.2em;
    }
    .summery {
      font-size: 0.9em;
    }
    .newsletter-min {
      padding: 1vh 1vw;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    .newsletter-min form {
      flex-direction: row;
      width: 50%;
    }
    .newsletter-min form input {
      margin: 1vh 0 0 3vw;
      padding-left: 1vw;
      font-size: 1em;
      font-weight: 500;
      width: 80%;
    }
    .newsletter-min form button {
      width: 20%;
      margin: 2vh 0 1vh 2vw;
      border-radius: 5px;
      font-size: 0.85em;
    }
    .newsletter-min h1 {
      font-size: 1.2em;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .tagline {
      font-size: 2em;
    }
    .supporting-tagline {
      font-size: 1.5em;
    }
    .hero {
      height: 30vh;
    }
    nav ul li:nth-child(2) {
      display: block;
    }
    nav ul li:nth-child(3) {
      display: block;
    }
    nav ul li:nth-child(4) {
      display: block;
    }
    nav ul li:nth-child(5) {
      display: block;
    }
    nav ul {
      justify-content: space-between;
    }
    .latest {
      flex-direction: row;
    }
   
    .post-card {
      width: 30%;
      align-items: center;
      margin: 2vh 1vw;
    }
    .title {
      font-size: 1.2em;
    }
    .summery {
      font-size: 1em;
    }
    .newsletter-min {
      padding: 1vh 1vw;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    .newsletter-min form {
      flex-direction: row;
      width: 50%;
    }
    .newsletter-min form input {
      margin: 1vh 0 0 3vw;
      padding-left: 1vw;
      font-size: 1em;
      font-weight: 500;
      width: 80%;
    }
    .newsletter-min form button {
      width: 20%;
      margin: 2vh 0 1vh 2vw;
      border-radius: 5px;
      font-size: 0.85em;
    }
    .newsletter-min h1 {
      font-size: 1.2em;
    }
    .latest article:first-child {
        display: flex;
      }
  }
  
